body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

#guiviewer3d-toolbar {
    top: 8px !important;
    /* left: 285px !important; */
    height: 50px;
}

.adsk-control-group {
    margin: 0 !important;
    box-shadow: 0px 0px 0px transparent !important;
    background: transparent !important;
}

.adsk-control-group>.adsk-button {
    margin: 0 0 0 8px !important;
    border-radius: 50% !important;
    background: rgba(46, 144, 166, .3);
    width: 35px;
    height: 35px;
}

.adsk-control-group>.adsk-button:hover,
.adsk-control-group>.adsk-button:focus,
.adsk-control-group>.adsk-button:active {
    background: rgba(46, 144, 166, 1);
}

.adsk-button-icon {
    font-size: 32px !important;
}

.adsk-button-arrow {
    top: -6px !important;
    right: -5px !important;
}

.adsk-button-arrow:hover {
    background: transparent;
}

.adsk-button>.toolbar-vertical-group {
    top: 110% !important;
}

.adsk-control-tooltip {
    bottom: -25px !important;
}

.explode-submenu.ios {
    margin-top: 60px !important;
    left: 40% !important;
}

#custToolbar>.adsk-button>.custermer-markup {
    width: 32px;
    height: 32px;
    margin: 2px auto;
    background: url("../public/bim/pencil.svg") no-repeat;
    background-size: contain;
}

.dockingPanel {
    z-index: 999;
}

.dockingPanelScroll {
    overflow-x: auto;
}

.dockingPanelScroll.left {
    direction: ltr;
    /* rtl; */
}

.propertyPanel {
    word-break: break-all;
}

#settingsTools>.adsk-button>.building {
    width: 36px;
    height: 36px;
    margin: 3px auto;
    background: url('../public/bim/building.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#settingsTools>.adsk-button>.floor {
    width: 32px;
    height: 32px;
    margin: 3px auto;
    background: url('../public/bim/floor.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#settingsTools>.adsk-button>.mouse {
    width: 32px;
    height: 32px;
    margin: 3px auto;
    background: url('../public/bim/mouse.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.dot {
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 9999;
}

.dot>button {
    background: transparent;
    border: 0;
    cursor: pointer;
    width: 32px;
}

.dot>button:focus {
    outline: 0;
}

/* mask */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}

.show {
    visibility: visible;
    opacity: 1;
}

.hide {
    display: none;
}

.popup {
    margin: 8% auto;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    width: 48vw;
    height: 65vh;
    position: relative;
    transition: all 5s ease-in-out;
    font-family: Tahoma, Arial, sans-serif, Helvetica, sans-serif;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial;
}

.popup .close {
    position: absolute;
    top: 0;
    right: 5px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    z-index: 99999;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    width: 100%;
    height: 100%;
}

.popup button {
    background: transparent;
    border: 0;
}

.popup .table-responsive {
    overflow: hidden;
    display: block;
    width: 100%;
    border: 0;
}

.popup .table-responsive table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.popup .table-striped td:nth-child(n) {
    text-align: center;
    vertical-align: middle;
    font-size: 12pt;
    border-right-color: transparent;
    border-left-color: transparent;
}

.popup #modbus_button button {
    font-size: 10pt;
    border: 1px solid #4bbcd1;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    margin: 5px;
    color: darkgrey;
}

.popup #modbus_button button:hover,
.popup #modbus_button button:focus {
    background: #4bbcd1;
    color: white;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 240px;
    }
}

.tempText {
    background: #4CB5F5;
    color: #fff;
    padding: 1px 5px;
    border-radius: 2px;
}

.adsk-toolbar {
    text-align: center;
}

.adsk-button>.building {
    /* width: 36px;
    height: 36px;
    margin: 3px auto; */
    background-size: 24px;
    background-position: center;
    background: url('../img/bim/building.svg');
    /* background-size: contain; */
    background-repeat: no-repeat;
}

.adsk-viewing-viewer input.toolbar-search-box {
    background: #F1F1F1;
    color: #B8B8B8;
}

.dockingPanelTitle,
.adsk-viewing-viewer .modelStructurePanel .dockingPanelTitle,
.propertyPanel .treeview group>lmvheader,
.adsk-viewing-viewer .modelStructurePanel .treeview lmvheader,
.dockingPanel:hover.propertyPanel .treeview group>lmvheader {
    background: rgba(46, 144, 166, 0.8);
}

.dockingPanel,
#ViewerModelStructurePanel-scroll-container,
.dockingPanel:hover {
    background: rgba(221, 221, 221, 0.8);
    border-radius: 0;
}

.dockingPanel,
#ViewerModelStructurePanel-scroll-container {
    border-radius: 0;
}

.propertyPanel .treeview group {
    color: #eeeeee;
}

.propertyPanel .treeview leaf {
    color: #6b6969;
}

/* Panel scroll bar setting */
.adsk-viewing-viewer .modelStructurePanel .dockingPanelScroll::-webkit-scrollbar-track,
.dockingPanelScroll::-webkit-scrollbar-track,
.dockingPanelScroll::-webkit-scrollbar-corner {
    background: rgb(230, 230, 230, 1);
    border-radius: 0px;
}

.adsk-viewing-viewer .modelStructurePanel .dockingPanelScroll::-webkit-scrollbar-thumb,
.dockingPanelScroll::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179, 1);
    border-radius: 0;
}

/* close button */
.dockingPanelClose:hover {
    color: #FFFF00;
}

#ViewerModelStructurePanel,
#ViewerPropertyPanel {
    z-index: 999;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.clear {
    clear: both;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#loadingMsg {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 40%;
}

#measureTools {
    top: 275px;
    position: absolute;
    right: 50px;
    z-index: 1;
    width: 10px;
}

#showtoolbar {
    z-index: 9;
    position: absolute;
    border-radius: 50%;
    background: rgba(46, 144, 166, .3);
    width: 48px;
    height: 48px;
    outline: none;
    padding: 1px;
    right: 15px;
    top: 233px;
}

#showtoolbar:hover,
#showtoolbar:focus{
    background: rgba(46, 144, 166, 1);
}

#icon_toolbar{
    width:30px;
    height:30px;
}

.adsk-viewing-viewer .measure-done label {
    padding: 10px 0px;
    background-color: transparent;
}

.adsk-viewing-viewer .measure-settings-popup {
    bottom: 10%;
    right: 8px;
}

#calibration-panel{
    width: 350px !important;
}

/* -----Markup------ */
.markup-control-group {
    opacity: 1;
    padding: 2px;
    height: 40px;
    background: #eee;
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 100%);
    position: absolute;
    left: 8px;
    width: 710px;
    top: 12px;
    z-index: 999;
}

.btn-group-justified label {
    float: left;
    margin: 3px;
}

.btn-group-justified input[type="radio"] {
    z-index: -1;
    position: absolute;
    top: 1px;
    opacity: 0;
}

.btn-group-justified .icon {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.btn-group-justified .icon-checkmark {
    font-size: 15px;
    text-align: center;
}

.bg-color-redbold {
    background-color: #dc2127 !important;
}

.bg-color-bluebold {
    background-color: #5484ed !important;
}

.bg-color-turquoise {
    background-color: #46d6db !important;
}

.bg-color-greenbold {
    background-color: #51b749 !important;
}

.bg-color-yellow {
    background-color: #fbd75b !important;
}

.bg-color-purple {
    background-color: #dbadff !important;
}

.markup-control-group button {
    margin: 4px 0 0 18px !important;
    /* border-radius: 50% !important; */
    background: #97b8c2;
    width: 32px;
    height: 32px;
    border: 0 solid;
    background-size: contain;
}

.markup-control-group button:hover,
.markup-control-group button:focus,
.markup-control-group button:active {
    width: 32px;
    height: 32px;
    margin: 0 5px;
    background-size: contain;
    border: 1px solid #a8cffe;
    box-shadow: 0px 0px 7px rgba(42, 90, 190, 0.5);
}

.markup-control-group>.adsk-control-tooltip {
    left: 50%;
    bottom: 50px;
}

#colorLineDiv .circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 5px 5px 0 0;
    border: 0 solid;
}

#colorLineDiv .square {
    margin: 0 0 0 5px;
    background: #dc2127;
    border: 0 solid;
}

#colorLineDiv .circle:hover,
#colorLineDiv .circle:focus,
#colorLineDiv .circle:active,
#colorLineDiv .square:hover,
#colorLineDiv .square:focus,
#colorLineDiv .square:active {
    border: 1px solid #a8cffe;
    box-shadow: 0px 0px 7px rgba(42, 90, 190, 0.5);
}

#colorLineDiv .selected {
    border: 1px solid #a8cffe;
    box-shadow: 0px 0px 7px rgba(42, 90, 190, 0.5);
}

#ViewerSettingsPanel0{
    background: rgba(108, 112, 123,1);
}